@import './_vars.scss';
@import './_global.scss';

label {
  color: $primary;
}

div#brandList > div {
  display: inline-block;
}

.mdc-form-field {
  display: inherit;
}

.mdc-text-field__input {
  min-width: 320px;
}

.btnRemoveBrand {
  color: $danger;
}